<section class="footer">

    <div class="box-container">
    
    <div class="box">
        <h3>Quick Links</h3>
        <a href="#"><i class="fas fa-chevron-right"></i>Home</a>
        <a href="#About"><i class="fas fa-chevron-right"></i>About</a>
        <a href="#Courses"><i class="fas fa-chevron-right"></i>Courses</a>
        <a href="#"><i class="fas fa-chevron-right"></i>Teachers</a>
        <a href="#"><i class="fas fa-chevron-right"></i>Contact us</a>
        <a href="#"><i class="fas fa-chevron-right"></i>Review</a>
    </div>
    <div class="box">
        <h3>Our Courses</h3>
        <a href="#"><i class="fas fa-chevron-right"></i>Data Analysis</a>
        <a href="#"><i class="fas fa-chevron-right"></i>Website Developmnt</a>
        <a href="#"><i class="fas fa-chevron-right"></i>UI/UX design</a>
        <a href="#"><i class="fas fa-chevron-right"></i>AI Engineer</a>
        <a href="#"><i class="fas fa-chevron-right"></i>Software Engineer</a>
        <a href="#"><i class="fas fa-chevron-right"></i>Data Engineering</a>
       
    </div>
    <div class="box">
        <h3>Follow Us </h3>
        <a href="#"><i class=" fab fa-facebook"></i> Facebook </a>
        <a href="#"><i class=" fab fa-twitter"></i> Twitter </a>
        <a href="#"><i class=" fab fa-instagram"></i> Instagram </a>
        <a href="#"><i class=" fab fab fa-linkedin"></i> LinkedIn </a>   
    </div>
    <div class="box">
        <h3>Contact Info </h3>
        <a href="#"><i class="fas fa-phone"></i> +234-815-567-7789</a>
        <a href="#"><i class="fas fa-phone"></i> +234-342-903-8786</a>
        <a href="#"><i class="fas fa-envelope"></i> Easylearn@gmail.com</a>
        <a href="#"><i class="fas fa-envelope"></i> help.Easylearn@gmail.com</a>
        <a href="#"><i class="fas fa-map-marker"></i> Lagos City</a>
       
       
    </div>
    
    </div>
    
    <div class="credit">
        Developed  by | Tech Collabo | all rights Reserved
        
    </div>
    
    
    </section>

<!-- footer sectoin starts -->


    

<!-- custom javascript file -->
<script src="/../js/main.js"></script>
<!-- custom javascript file -->

</body>
</html>