<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/c84fabaaea.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="logo-menu">
    <h1>EasyLearn </h1>
    <div class="search-con">
        <input type="text" name="search" placeholder="Search">
        <button class="btn btn-secondary" type="submit"><i class="fa fa-search fa-lg"></i></button>
    </div>
    </div>
<nav>
    <div class="icon-con">
        <span class="icons"><i class="fa fa-home fa-lg"></i></span>
        <p class="icon-text">Home</p>
    </div>
 
    <div class="icon-con">
    <span class="icons"><i class="fa fa-bell fa-lg"></i></span>
    <p class="icon-text">Notifications</p>
</div>
<div class="icon-con">
    <span class="icons"><i class="fa fa-envelope fa-lg"></i></span>
    <p class="icon-text">Messages</p>
</div>
</nav>
     
</header>