<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css">
    <title>Login</title>
  </head>
<%-include('./partials/bodyheader')%>

<div class="main-container">
<h1 class="top-text">About EsayLearn Learning Management System</h1>  
<div class="about-container">
  <div class="about-content">
   
   
<p class="about-text"> Our Learning Management System (LMS) is designed to help you to develop and deliver engaging, personalized learning experiences to your students.
  With our LMS, you can easily create and manage courses, track student progress, and assess student performance.
 
 Our platform is packed with features that allow you to create interactive courses with engaging content, assign tasks, track student progress, and assess student performance.
  We also offer a range of tools and resources to support the learning process, such as discussion forums, online quizzes, and personalized feedback. 
 Our platform is also flexible and secure, and can be tailored to fit the needs of any organization or institution. With our LMS, you can create a safe and secure learning environment for your students, and ensure that your data is kept secure.
 If you’d like to learn more about our Learning Management System, please get in touch with us today. We’d be happy to answer any questions you may have.
</p> 
<a href="/contact" class="btn">Contact Us</a>
</div>
<div class="about-image">
      <img src="/images/image-1.svg" alt=" " srcset="">
  </div>
</div>
</div>
  <%-include('./partials/footer')%>