<%- include('./partials/loginheader') %>
<div class="container-fluid">
 
  
<section class="dropdown">
   <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Menu
    </a>
 
 
 <ul class="dropdown-menu">
   <li id="profile" class="dropdown-item profile-pic">
      <img src="/images/userimg/48.svg">
   </li>
   <li class="dropdown-item username"><%= firstname %></l>
 
    <li class="dropdown-item"><a href="" class="fa fa-pencil-square-o">Classes</a></li>
    <li class="dropdown-item"><a class="fa fa-users">Group</a></li>
    <li class="dropdown-item"><a href="#" class="fa fa-calendar">Schedule</a></li>
    <li class="dropdown-item"> <a href="#" class="fa fa-bar-chart">Grades</a></li>
    <li class="dropdown-item"><a class="fa fa-download">Download</a></li>
    <li class="dropdown-item"><a href="/liveclass" class="fa fa-video">LiveClass</a></li>
    <li class="dropdown-item"><a href="/chat" class="fa fa-microphone">Chat</a></li>
    <li class="dropdown-item"><a href="/takephoto" class="fa fa-camera">Camera</a></li>
    <li class="dropdown-item"><a class="fa fa-sign-out">Logout </a></li>
 </ul>
 
</section>
</div>
<script src="/js/dropdown.js">
   
</script>

   
</script>






