<%- include('./partials/loginheader') %>
    <article class="container">
      <%- include('./partials/sidebar') %>
      <section class="main-container">

         <div class="section-header">
          <h3>Hi <%= firstname %></h3>  
         <div  class="user-info"  style="font-size: 18px;">
          <i class="fa-bold fa-user-circle"></i>
          <i class="fa-bold fa-caret-down"></i></div>
      </div>
      <main>
        <div class="main-boxes">
           <div class="a-box box-con" 
           style="background-color: #D3D9DB; color: #192D33;">
           <div class="image-box">
            <img src="/images/Frame 462.png"> 
          
           </div> 
           
           <div class="label-con">
            <br>Mobile design
            <br>
         <label for="file" style="color: #A3AED0;">Progress</label>
         <p>
         <progress id="file" value="32" max="100"> 32% </progress></p>
        </div>
        </div>
           <div class="b-box box-con"
           style="background-color: #EAF7FF; color: #1B2559;">
           <div class="image-box"><img src="/images/Frame 462 (1).png"> 
           
           </div>
           <div class="label-con" >
            <br>UI/UX Components
            <br>
            <label for="file" style="color: #A3AED0;  ">Progress</label>
            <p>
              <progress id="file" value="32" max="100"> 32% </progress></p>
            </div>
            </div>
           <div class="c-box box-con"
           style="background-color: #FFDECF; color: #1B2559;">
           <div class="image-box"><img src="/images/Frame 462 (1).png"> 
           
          </div> 
           <div class="label-con">
            <br>UI/UX Components
            <br>
            <label for="file" style="color: #A3AED0; ">Progress</label>
            <p>
              <progress id="file" value="32" max="100"> 32% </progress></p>
            </div>
            </div>
          </div>
        <h2 class="assgn">
         My Tasks
        </h2>
        <div class="ass-box">
        <div class="ass-tests">Typography Test
        <h6> Today, 10:30am</h6><div>192/200<h6> Final Grade</h6></div><button>Completed</button>
        </div>
         <div class="ass-tests">Typography Test
        <h6> Today, 10:30am</h6><div>192/200<h6> Final Grade</h6></div><button>Completed</button>
        </div>
        <div class="ass-tests">Typography Test
         <h6> Today, 10:30am</h6><div>192/200<h6> Final Grade</h6></div><button>Completed</button>
        </div>
        <div class="ass-tests">Typography Test
         <h6> Today, 10:30am</h6><div>192/200<h6> Final Grade</h6></div><button>Completed</button>
        </div>
      </div>
     </main>
      </section>
      <!--<section>
      </section>-->
    </article>
    <script src="/js/main.js"></script>
  </body>
</html>
