<%- include('./partials/header') %>
<div class="container">
   <h1>Welcome to our Learning Management System</h1>
   <article>
   Welcome to Easy Learning Management System!

Our Learning Management System (LMS) is designed to help you to develop and deliver engaging, personalized learning experiences to your students. With our LMS, you can easily create and manage courses, track student progress, and assess student performance.

Our platform is packed with features that allow you to create interactive courses with engaging content, assign tasks, track student progress, and assess student performance. We also offer a range of tools and resources to support the learning process, such as discussion forums, online quizzes, and personalized feedback.

Our platform is also flexible and secure, and can be tailored to fit the needs of any organization or institution. With our LMS, you can create a safe and secure learning environment for your students, and ensure that your data is kept secure.

If you’d like to learn more about our Learning Management System, please get in touch with us today. We’d be happy to answer any questions you may have.
</article>
   <a href="/login" class="btn">Get Started!</a>
 </div>
</body>
</html>