  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/login.css" rel="stylesheet" />
    <title>Login</title>
  </head>
  <body>
    <section class="login-container">
      <div class="box">
        <form method="POST" action="/login">
        <h2>Login</h2>
        <p class="box-head">Kindly fill your details to create your account</p>
        <div class="email-bar">
          <h4>Firstname <strong style="color: red">*</strong></h4>
          <input type="text" name="firstname" id="firstname" required/>
        </div>
        <div class="email-bar">
          <h4>Lastname <strong style="color: red">*</strong></h4>
          <input type="text" name="Lastname" id="Lastname" required/>
        </div>
        <div class="email-bar">
          <h4>Email <strong style="color: red">*</strong></h4>
          <input type="email" name="email" id="email" required/>
        
        <div class="password-bar">
          <h4>Password <strong style="color: red">*</strong></h4>
          <input type="password" name="password" required="true" />
          <p id="matched"></p>
          <h4>Confirm Password <strong style="color: red">*</strong></h4>
          <input type="password" name="confirm-password"id="confirm-password" required="true" />
        </div>
      </div>
      <div class="email-bar">
        <h4>Date of Birth <strong style="color: red">*</strong></h4>
        <input type="date" name="dateOfBirth" id="date0fBirth" required/>
      </div>
      <div class="email-bar">
        <h4>Gender <strong style="color: red">*</strong></h4>
        <select name="gender" class="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
        
        <button type="submit">Create Account</button></a>
      </form>
    </section>
  </body>
</html>