<%- include('./partials/loginheader') %>
    <article class="container">
      <%- include('./partials/sidebar') %>
      <section class="main-container">
         <div class="section-header">
         <span>
           <div style="color: #6E8288;"> Hi,</div> <h3><%= firstname %></h3>
         </span>
         <div  class="user-info"  style="font-size: 18px;">
          <i class="ph-bold ph-user-circle"></i>
          <i class="ph-bold ph-caret-down"></i></div>
      </div>
      <main>
        
        

     </main>
      </section>
      <!--<section>
      </section>-->
    </article>
  </body>
</html>
